--find-links https://download.pytorch.org/whl/torch_stable.html
numpy>=1.14.0
torch==1.7.0+cu110
lockfile
mujoco_py==1.50.1.68
gym[mujoco]==0.10.5
tensorboardX>=1.2
matplotlib
scipy
pyyaml==3.12
gitpython==3.0.8
